.container {

  width: 100vw;
  height: 100vh;

  &-img {
    &__bg{
      position: fixed;
      bottom: 54px;
      left: 67px;
      &--fixed {
        position: fixed;
        bottom: 54px;
        left: 57px;
      }
    }
  }

  &-descriptif {
    color: #FFFFFF;
    text-align: left;
    padding-right: 5%;

    &__date {
      height: 30rem;
      margin: 0 0 0 186px;
      color: transparent;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #B02F2F;
      font-size: 20rem;

    }
    &__title {
      font-size: 4rem;
    }

    &__text {
      font-size: 2rem;
      line-height: 1.5;
    }

    &__link {
      min-height: 12rem;
    }

    &__btn {
      background-color: transparent;
      border: 1px #B02F2F solid;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      color: #B02F2F;
      cursor: pointer;
      font-size: 15px;
      padding: 10px 50px;
      margin-top: 45px;
      &:hover {
        background-color: #B02F2F;
        opacity: .7;
        color: #FFFFFF;
        transition: 350ms ease;
      }
    }
  }
}


.container__descriptionJO-title {
  height: 27rem;
}