.container-btn {
  width: 100%;
  &__btn {
    width: 16%;
    background-color: transparent;
    border: none;
    padding: 10px 0;
    border-top: #646262 1px solid;
    opacity: .7;
    outline: none;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      border-top: #FFFFFF 6px solid;
      transition: 350ms ease;
      opacity: 1;
    }
  }
}