.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	padding: 4rem;
	width: 100%;
	z-index: 900;
	overflow: auto;

	&__img {
		height: 8rem;
		width: auto;
		object-fit: cover;
	}
}

.header__close {

	position: relative;
	width: 5rem;
	height: 1rem;
	border-radius: 10rem;

	transform: rotate(135deg);
	background-color: aliceblue;
	z-index: 950;
}

.header__close::after {
	content: '';
	position: absolute;
	top: 0rem;
	right: 0rem;
	width: 5rem;
	height: 1rem;
	border-radius: 10rem;
	transform: rotate(-90deg);
	background-color: aliceblue;
	z-index: 951;

}